extends ../layout/main

block content 
  section-elemets
    .container-alt
      .logo 
        img(src="assets/img/logo.png" alt="")
    .container
      .row
        .col
          form.form-field
            .wrapper
              label.style-d Text Field
              label.style-d-alt Default
            input.style-d( 
              type='email'
              name='email' 
              placeholder='Email'           
              )
            .wrapper
              label.style-d Text Field
              label.style-d-alt Hover / Focus
            input.style-alt( 
              type='text'
              name='text' 
              placeholder='This is pretty awesome'           
              )
            .wrapper
              label.style-d Dropdown
              label.style-d-alt Default
            .dropdown 
              .after Количество гостей
              .beforce
                img(src="assets/img/arrow.svg" alt="")
              .dropdown-content
                .item item 1
                .item item 2
                .item item 3
              










